@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-transparent bg-teal-700;
}

.cell {
  @apply bg-teal-900
  border
  p-1
  h-full 
  w-full 
  text-white 
  grid 
  place-items-center
  hover:bg-teal-700
  hover:scale-110

  focus:ring-4 focus:outline-none 
  transition ease-in-out delay-100  
  rounded-lg
  duration-300;
}

.cell-x {
  @apply bg-fuchsia-500
  focus:ring-fuchsia-300 
    hover:bg-fuchsia-700;
}

.cell-y {
  @apply bg-indigo-500
  focus:ring-indigo-300 
      hover:bg-indigo-700;
}
